#Landingpage{
    border: solid white;
    height: 700px;
    background-image: url(images/background1.avif);
   background-repeat: no-repeat;
   background-size: cover;
    }
#navbar{
    border: solid white;
    margin-top: 60px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}
#Wordslanding{
    text-align: center;
}
#figure{
    display: flex;
    justify-content: space-around;
}
#arrows{
    display: flex;
    justify-content: center;
}
#uniquefeatures{
    display: flex;
    justify-content: space-around;
}
#buttons{
    display: flex;
    justify-content: center;
    gap: 50px;
}
#photocollage{
    display: flex;
    justify-content: center;
}
#Reviews{
display: flex;
justify-content: space-evenly;
}
