#Landingpage{
    border: solid white;
    height: 700px;
    background-image: url(images/background1.avif);
   background-repeat: no-repeat;
   background-size: cover;
    }
#navbar{
    border: solid white;
    margin-top: 60px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}
#Wordslanding{
    text-align: center;
}
#figure{
    display: flex;
    justify-content: space-around;
}
#arrows{
    display: flex;
    justify-content: center;
}
#uniquefeatures{
    display: flex;
    justify-content: space-around;
}
#buttons{
    display: flex;
    justify-content: center;
    gap: 50px;
}
#photocollage{
    display: flex;
    justify-content: center;
}
#Reviews{
display: flex;
justify-content: space-evenly;
}
#blogbackground{
    background-image: url(images/florence.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 610px;
    
}
#blog{
    display: flex;
    justify-content: center;
    gap:20px;
}
#Questions{
    display: flex;
    justify-content: space-around;
    background-color: #ff9412;
    border-radius: 10px;
    height: 300px;
}
#form{
    border: white;
    background-color: aliceblue;
    width: 250px;
}
#beforefooter{
background-image: url(images/lastpicc.avif);
background-repeat: no-repeat;
background-size: cover;
height: 400px;
}
#wordss{
    text-align: center;
}
#footer{
    display: flex;
    justify-content: space-evenly;
}